# NOTE: All relative paths are relative to the location of this file.

[pytype]

# Space-separated list of files or directories to exclude.
exclude =
    **/*_test.py
    **/test_*.py
    **/tests

# Space-separated list of files or directories to process.
inputs = /home/wonseok/benchmark/salt-50958/salt

# Keep going past errors to analyze as many files as possible.
keep_going = True

# number of CPUs on the host system.

# All pytype output goes here.
output = .pytype

# Paths to source code directories, separated by ':'.
pythonpath =
    .
# Python version (major.minor) of the target code.
python_version = 3.9

# Comma or space separated list of error names to ignore.
disable =
    pyi-error
    import-error

# Don't report errors.
report_errors = True


strict-primitive-comparisons = True